.SmallTextContent {
    font-size: 10px;
    border: 1px solid black;
    align-content: center;
    margin-left: 240px ;
    margin-right: 240px;
    color: grey;
    text-align: center;
    border:none;
}