.two {
    border: 1px solid black;
    font: normal normal normal 24px/32px Roboto;
    
    color: #707070;
    text-transform: capitalize;
    font-size: smaller;
    text-align: center;
    height: 100px;
    border:none;

    .line-two{
        margin-left: 80px;
    }

    .line-three{
        margin-left: 90px;
    }
}